/* Full-bleed wrapper that escapes theme container */
.wide-full {
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}

/* Inner content width (same as Home) */
.wide-inner {
  width: calc(100vw - 64px);
  max-width: none !important;
  margin: 0 auto;

  @media (max-width: 700px) {
    width: calc(100vw - 28px);
  }
}
